# Folders
manuals
test
pres
.ipynb_checkpoints
*/.ipynb_checkpoints/*
8*-*Molecular*Dynamics/logs
8*-*Molecular*Dynamics/mdresult

# Files
**.png
**.cube
2*-*Working*with*PyMOL/*.cif
2*-*Working*with*PyMOL/*.pdb
2*-*Working*with*PyMOL/*.sdf
3*-*Chemoinformatics/*.txt
6*-*Modeling*Protein-Ligand*Complex/*.txt





